body
{
    font-family: Arial;
}

.vm-services
{
    width: 500px;
    height: 20px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #e6e6e6;
    display: inline-block;
    vertical-align: top;
}

.service-name
{
    width: 400px;
    font-weight: bold;
    display: inline-block;
}

.service-price
{
    width: 50px;
    display: inline-block;
}

.service-title
{
    font-weight: bold;
}
.add-button
{
    height: 30px;
    display: inline-block;
    vertical-align: top;
}

.endblock
{
    margin-bottom: 10px;
}

span
{
    display: inline-block;
}

input[type="text"], .cpu_qty
{
    width: 50px;
}

.sub
{
    border: 0px;
    background-color: transparent;
}

input[readonly]
{
    width: 400px;
}

strong
{
    text-decoration: underline;
    margin-bottom: 10px;
    display: block;
}

.alert
{
    color: #FF0000;
    font-size: 12px;
}