html
{
    background: #fff;
}

body
{
    font-family: Arial;
}

.content
{
    margin: 0 auto;
    width: 950px;
}
.vm-services
{
    width: 400px;
    height: 20px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #FFABAB;
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
}

.service-name
{
    width: 328px;
    font-weight: bold;
    display: inline-block;
}

.service-price
{
    width: 50px;
    display: inline-block;
}

.service-title
{
    font-weight: bold;
    padding-left: 0px;
}
.add-button
{
    height: 30px;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
}

.remove-button
{
    height: 20px;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
}
.endblock
{
    margin-bottom: 10px;
}

span
{
    display: inline-block;
}

input[type="text"].system-name
{
    width: 150px;
}

input[type="text"], .cpu_qty
{
    width: 50px;
}

.sub
{
    border: 0px;
    background-color: transparent;
}

input[readonly].varprice
{
    width: 60px;
    border: 0px;
}

input[readonly]
{
    width: 400px;
    border: 0px;
}

strong
{
    text-decoration: underline;
    margin-bottom: 10px;
    display: block;
    background-color: #fff;
}

.alert
{
    color: #FF0000;
    font-size: 12px;
}

#vm-sub-total
{
    vertical-align: top;
    font-weight: bold;
    font-size: 18px;
}

#quote-table td
{
    padding: 0 16px;
    font-size: 14px;
}

#quote-table
{
    background-color: #fff;
    width: 900px
}

td.pad-bottom
{
    padding-bottom: 20px !important;
}

#quote-table tr:first-child > td
{
    background-color: #ccc; 
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 10px;
    line-height: 20px;
}
table td
{
    background: #fff;
    vertical-align: top;
}

.smalltext
{
    font-size: 10px;
}

table#totals
{
    border: 0px;
    border-color: #fff;
    width: 900px;
    margin-top: 20px;
}

#quote-content
{
    background: #fff;
}

#table-title
{
    margin-top: 30px;
    font-size: 20px;
}